<html>
<body>
<h4>Bienvenido</h4>

<p>${name}</p>
<p>Esta es su Nueva Password.</p><br>


<p>Con esta password Auto generada y su respectivo CUIL puede dar Inicio de Sesion.</p><br>
    <p>${password}</p>

</body>
</html>