<html>
<body>
<h4>Bienvenido</h4>

<p>${name}</p>
<p>A continuacion Ingrese al Link para proceder a activar la cuenta.</p><br>

<a href="${link} ">Link</a>

<p>Con esta password Auto generada y su respectivo CUIL puede dar Inicio de Sesion.</p><br>
    <p>${password}</p>

</body>
</html>